# systemd unit file
#
# place in /etc/systemd/system
# systemctl enable wetty.service
# systemctl start wetty.service

[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
User=wetty
Type=simple
WorkingDirectory=/data/silicon2022-ctf/wetty/node_modules/wetty/
ExecStart=/usr/bin/node . -p 3000 --host 127.0.0.1 --allow-iframe
TimeoutStopSec=20
KillMode=mixed
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
