<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<pre style="color:white">
              █▄▄██████████████████▄
             ▄██████████████████████▄
           █ █████████████████████████
        ▄▄▀ ███████████████████████████
      ▄▀     ▀█████████████████████████▄
     ▄▀        ▀▄██ █████████████████████▄
   ██          ▀███▄▄ ▀█████████████████████▄
  ████           ▀████▄███████████████▀▀█▀███▀    {{ message }}
  ████             ▀█████▀██████▀▀▀▀  ▄▄█▀ █ 
   ▀███▄            ▀██▀▄  █▀        ███ ▄▀
     ▄███ ▄█▄         ███▐ ██▄      █████
    ██████████▄▄▄   ▄███  ▌ ███▄   ████▀
     █████████████▄████   ▐  ███▄▄█▀
   █ █████████████████     ▌  ██████▌
   ▀▄  ███████████████ ▄▀  ▀ ▌███████              
    ▀▄▄   ▄▄▄▀█████████▄▄▄▄█ █ ██████▌
  ▄▀   ▀▀▀   ▌ ▄ ▀▀███████████▌██████▀
  ▀▄ ▄▄▀▄     ▀ ▐ ▀▄ ▀▀▀▀▀▀▀▀▀█▐▀▀
    ▀  █            ▐▀▐▀▄▐ ▌▌▐ ▄▐
  ████▀                        ▌
 ██████▄                      ▐
▀████████▄ ▐▌ ▌               ▌
  ▀▀███████ ▀▄  ▄▄   ▐      ▄▐
      ▀█████▄▄▄   ▀▀▀ ▄▄  ▐▌ ▌
        ███▀▀▄█████▄▄▄▄ ▀▀████
         ▀▀█▄█▀▀████████████▀
                      ▀██▀▀

<pre>